:root {
  --main-color: #efefef;
  --primary-color: #1d2d3d;
  --secondary-color:#495e74 ;
  --gray-color: #778697;
  --dark-color: #292b2c;
  --blue-color: #0275d8;
  --green-color: #27ae60;
  --green-sea-color: #16a085;
  --pumpkin-color: #d35400;
  --red-color: #d9534f;
  --white-color: #fff;
}

body.dark-mode {
  --main-color: #3333339c;
  --primary-color: #dfe6e9;
  --secondary-color: #b2bec3;
  --gray-color: #95a5a6;
  --dark-color: #1e272e;
  --blue-color: #2980b9;
  --green-color: #16a085;
  --green-sea-color: #1abc9c;
  --pumpkin-color: #e67e22;
  --red-color: #c0392b;
  --white-color: #ecf0f1;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Segoe UI', 'Roboto', 'Helvetica Neue', sans-serif;
}

body {
  background-color: var(--main-color);
  overflow-x: hidden;
}

::-webkit-scrollbar{
  background-color:transparent;
  width: 10px;
}

::-webkit-scrollbar-thumb{
  background-color: var(--pumpkin-color);
  border-radius: 15px;
  
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
  padding: 0;
}

input:focus,
select:focus,
textarea:focus {
  outline: none;
}

/* Some Global Classes For icons */
.bi-pencil-square {
  color: var(--green-sea-color);
  margin-right: 15px;
}

.bi-trash-fill {
  color: var(--red-color);
}

